/**
 * @name CompactCord
 * @author GeorgeDash
 * @description A CSS snippet that allows you do auto-collapse/expand specific panels from Discord's UI
 * @version 0.0.1
 */

@import url("https://georgedash.github.io/compact-cord/import.css");


body {
    /* Transition customization */
    --transition-duration: 0.2s;
    --transition-easing: ease-in-out; /* You can also put bezier-function(), if you prefer.

    /* Guild list (server list) */
    --guild-list: default; /* Values: default/collapse */
    --separate-guild-list: off; /* Values: off/separate */    /* Same applies to the elements below. */

    /* Sidebar list (DMs list) */
    --sidebar-list: default;
    --separate-sidebar-list: off;

    /* Sidebar (guild list + sidebar list) */
    --sidebar: default; /* NOTE: You must make both the guild and the sidebar lists NOT collapsible
                           (otherwise, it won't work).

    /* Active Now section */
    --active-now: collapse;
    --separate-active-now: separate;

    /* Member list section */
    --member-list: collapse;
    --separate-member-list: separate;

    /* User Area panel */
    --user-area: collapse;
    /* Uncomment both values if you don't like the spacing of the panel (6px by default). */
    /* --ua-left-offset: 9px; */
    /* --ua-bottom-offset: 9px;  */
}