/* Assigning container name to body for easier customization */
body {
    container-name: body;
}


/* Creating properties for each customization */
@property --transition {
    syntax: "*";
    inherits: false;
}
@property --guild-list { 
    syntax: "default | collapse";
    inherits: false;
    initial-value: default;
}
@property --separate-guild-list {
    syntax: "off | separate";
    inherits: false;
    initial-value: off;
}


/* Customizations */
@container body style(--guild-list: collapse) {
    .visual-refresh {
        .guilds_c48ade {
            z-index: 1;
            right: calc(var(--custom-guild-list-width) - 0.1px);
            transition: all var(--transition);

            &:hover {
                right: 0;
            }
        }
        .sidebar_c48ade .sidebarList_c48ade {
            transition: all var(--transition);
        }
        .sidebar_c48ade:has(.guilds_c48ade:not(:hover)) .sidebarList_c48ade {
            width: var(--custom-guild-sidebar-width);
            margin-left: calc(var(--custom-guild-list-width) * -1);
        }
        .bannerImage_f37cb1, .bannerImg_f37cb1 { /* Fix banner width issue */
            width: 100%;
        }
    }

    @container body style(--separate-guild-list: separate) {
        .visual-refresh {
            .guilds_c48ade {
                height: 100%;
                position: absolute;
                left: calc(var(--custom-guild-list-width) * -0.9);
                transition: all var(--transition);

                &:hover {
                    left: 0;
                }
            }
            .sidebarList_c48ade {
                width: var(--custom-guild-sidebar-width); 
                margin-left: 0 !important;
            }
        }
    }
}

@container body style(--sidebar-list: collapse) {
    .visual-refresh {
        .panels_c48ade {
            width: calc(var(--custom-rtc-account-height) + var(--custom-panels-spacing) * 1.5);        
            overflow: hidden;
            transition: all var(--transition);
            position: fixed;
            left: var(--custom-panels-spacing);

            .avatarWrapper__37e49 {
                z-index: 10;
            }

            .buttons__37e49 > * {
                display: none;
            }

            &:hover {
                width: calc(var(--custom-guild-sidebar-width) - var(--custom-panels-spacing) * 2);

                .buttons__37e49 > * {
                    display: flex;
                }
            }
        }

        .sidebarList_c48ade {
            height: 100%;
            border-left: none;
            margin-right: calc((var(--custom-guild-sidebar-width) * -0.85));
            transition: all var(--transition);

            &:hover {
                border-left: 1px solid var(--app-border-frame);
                margin-right: 0;
            }
        }

        .sidebarResizeHandle_c48ade {
            display: none;
        }
    }
}