/* Assigning container name to body for easier customization */
root {
    container-name: root;
}
body {
    container-name: body;
}


/* Creating properties for each customization */
/* ROOT */
@property --transition {
    syntax: "*";
    inherits: false;
    initial-value: all 0.2 ease-in-out;
}

/* BODY */
@property --guild-list { 
    syntax: "default | collapse";
    inherits: false;
    initial-value: default;
}
@property --separate-guild-list {
    syntax: "off | separate";
    inherits: false;
    initial-value: off;
}


/* Customizations */
@container body style(--guild-list: collapse) {
    .visual-refresh {
        .guilds_c48ade {
            z-index: 1;
            right: calc(var(--custom-guild-list-width) - 0.1px);
            transition: var(--transition);

            &:hover {
                right: 0;
            }
        }
        .sidebar_c48ade .sidebarList_c48ade {
            transition: var(--transition);
        }
        .sidebar_c48ade:has(.guilds_c48ade:not(:hover)) .sidebarList_c48ade {
            width: var(--custom-guild-sidebar-width);
            margin-left: calc(var(--custom-guild-list-width) * -1);
        }
        .bannerImage_f37cb1, .bannerImg_f37cb1 { /* Fix banner width issue */
            width: 100%;
        }
    }
}